/* ---RESET--- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
}

/* ---GENERAL--- */


a {
	text-decoration: none;
}

p{
	font-size: 15px;
	letter-spacing: 0.6px;
}

ul {
	list-style-type: none;
}

h3 {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Dosis:300,600");

body {
	font-family: "Open Sans",sans-serif;
    color: #616771;
    font-weight: 300;
    line-height: 1.9;
}


.inwrapp {
	width: 1111px;
	margin: 0 auto;
}

.header-background {
	background-image: url("../images/bg-thunder.jpg");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* ---TOP BAR--- */

.top-bar {
	padding-top: 40px;
}

.logo {
	float: left;
	color: white;
	font-size: 16px
}

.logo span {
	font-weight: bold;
	font-size: 16px
}

.top-menu {
	float: right;
}

.top-menu ul li {
	display: inline;
	margin-right: 25px;
}

.top-menu ul li:last-child {
	margin-right: 0;
}

.top-menu ul li a {
	color: gray;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;

}

.top-menu ul li a:hover {
	color: white;
	transition: .7s;
}

/* ---HEADER--- */

.header-text {
	float: left;
	width: 448px;
	margin-top: 137px;
}

.header-text h1 {
	font-size: 42px;
	color: white;
}

.header-text p {
	font-size: 15px;
	margin-top: 54px;
	color: white;
	line-height: 27px;
}

.header-pic {
	float: right;
	margin-top: 95px;
}

.header-text div {
	display: inline-block;
	width: 200px;
	height: 43px;
	border: 1px solid white;
	text-align: center;
	border-radius: 5px;
	padding-top: 10px;
	cursor: pointer;
}

.header-text div a {
	color: #b8bcc1;
	text-transform: uppercase;
}

.header-text div a:hover {
	color: #616771;
}

.download-now {
	background-color: white;
}

.features:hover {
	background-color: white;
	transition: .5s;
}

/* ---MORE THAN--- */

.more-than {
	margin-top: 110px;
	overflow:hidden;
}

.more-than-pic {
	width: 50%;
	float: left;
}

.more-content {
	width: 50%;
	margin-top: 50px;
	float: right;
}

.more-main-text {
	width: 510px;
	margin-bottom: 80px;
}

.more-main-text p {
	margin-top:10px;
}

.more-sub-text {
	width: 50%;
	float: left;
}


.more-content .fa {
	font-size: 30px;
	margin-bottom: 14px;
}

.fa-tv {
	color: #ffbe00;
}

.fa-code {
	color: #ff4954;
}


/* ---END OF MORE THAN--- */

/* ---ENDLESS--- */

.endless-background {
	background-color: #f64d62;
}

.endless {
	color: #ffffff;
	padding-top: 110px;
	overflow:hidden;
}

.endless-pic {
	width: 50%;
	float: right;
}

.endless-pic img {
	
}

.endless-content {
	width: 50%;
	margin-top: 50px;
	float: left;
}

.endless-content .fa {
	font-size: 30px;
	margin-bottom: 14px;
}

.endless-main-text {
	width: 510px;
	margin-bottom: 80px;
}

.endless-main-text p {
	margin-top:10px;
}

.endless-sub-text {
	width: 50%;
	float: left;
}

/* ---END OF ENDLESS--- */

/*=== GENERAL FOR FOLLOWING 3 BLOCKS ===*/
.same-head {
	padding:100px 0;
	text-align: center;
}

.same-head span {
	font-size: 11px;
	opacity: .5;
}

.same-head h3 {
	padding: 30px 0 40px;
}

.same-head hr {
	border-top-color: #688eac;
	width: 50px;
	margin: 0 auto;
	opacity: 0.1;
}

.same-head .desc {
	font-size: 17px;
	margin: 30px 0 90px;
}

/* ---SCREENSHOTS--- */


.screenshots-slider {
	width: 1100px;
	margin: 0 auto 110px;
}

.screenshots-slider img {
	width: 100%;
}

/* ---END OF SCREENSHOTS--- */

/* ---OUR TEAM--- */

.our-team-background {
	background-color: #f8f8f8;
}

.persons {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}

.person {
	width: 25%;
	float: left;
}

.person-pic {
	width: 130px;
	height: 130px;
	margin: 0 auto;
}

.person-pic img {
	max-width: 100%;
	border-radius: 50%;
}

.person-name {
	font-weight: 600;
	margin: 34px 0 8px;
}

.profession {
	font-size: 10px;
	opacity: .7;
}

.person-social {
	margin-top: 8px;
}

.person-social .fa {
	font-size: 15px;
	opacity: .8;
	margin-right: 15px;
}

.person-social .fa:hover {
	color: #31589a;
	transition: 0.5s;
	cursor: pointer;
}

.person-social .fa:last-child {
	margin-right: 0;
}

/* ---END OF OUR TEAM--- */

/* ---DOWNLOAD--- */

.download {
	padding: 120px 0;
	background-image: url("../images/bg-gift.jpg");
	width: 100%
	height:auto;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.advert {
	width: 490px;
	height: 490px;
	outline: none;
	margin: 0 auto;
}

.advert img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/* ---END OF DOWNLOAD--- */

/* ---USERS--- */   /*  :DDDDDD    */

/* ---FOOTER---*/

.footer-background {
	border-top: 1px solid #f1f2f3;
}

.footer {
	padding: 30px 0;
	overflow: hidden;
}

.footer div {
	display: inline-block;
}

.footer .logo {
	color: #37404d;
}

.footer-nav {
	width: 390px;
	margin: 0 274px;
}

.footer-nav ul li {
	width: 19%;
    display: inline-block;
    text-align: center;
}

.footer-nav ul li a {
	color: #616771;
	font-weight: 600;
}

.footer-nav ul li a:hover {
	color: #6ecdf7;
	transition: .5s;
}

.footer-social i {
	margin-left: 10px;
}

.footer-social i:first-child {
	margin-left: 0;
}

/* ---END OF FOOTER---*/